<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bharat - Portfolio</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/images/favicon-red.ico" type="image/ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Bharat</a>

        <i class="fa-solid fa-bars" id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#projects">Projects</a>
            <a href="#skills">Skills</a>
            <a href="#education">Education</a>
            <!-- <a href="#experience">Experience</a> -->
            <a href="#contact">Contact Me</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-img">
            <img src="/images/My_img.png" alt="loading...." width="500px" height="500px">
        </div>
        <div class="home-content">
            <h1>Hi, It's <span>Bharat</span></h1>
            <h3 class="typing-text">I'm a <span></span></h3>
            <p>I am a passionate and dedicated B.Tech student with a strong focus on software development and web
                technologies. My experience spans backend development using Node.js and Express, as well as frontend
                design with EJS and responsive web design techniques. Staying up to date with the latest industry trends
                enables me to develop scalable and efficient solutions.</p>

            <div class="social-icon">
                <a href="https://www.linkedin.com/in/bharat-bhushan-yadav-709250293/"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Bharat-Yadav-11/"><i class="fa-brands fa-github"></i></a>
                <a href="https://x.com/BharatYadav9910/"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="https://www.instagram.com/bharatyadav9917/"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <a href="#contact" class="btn">Hire Me</a>
        </div>
    </section>

    <section class="projects" id="projects">
        <h2 class="heading">Projects</h2>

        <div class="project-container">
            <div class="project-box">
                <div class="project-info">
                    <a href="https://github.com/Bharat-Yadav-11/Face-Recognition-System">
                        <h4>Face Recognition based Attendance System</h4>
                        <p> Developed a GUI-based face recognition system using Python and Tkinter. Integrated OpenCV for
                            face detection and recognition functionalities. Implemented features such as real-time face
                            recognition, attendance marking, and database integration with MySQL.
                        </p>
                    </a>
                </div>
            </div>
            <div class="project-box">
                <div class="project-info">
                    <a href="https://github.com/Bharat-Yadav-11/Bank-Management-System">
                        <h4>Bank Management System</h4>
                        <p> Developed a Java-based bank management system to handle customer transactions, account
                            management, and employee operations. Utilized Java Swing for the user interface, AWT for event
                            handling, and JDBC for database connectivity.
                        </p>
                    </a>
                </div>
            </div>
            <div class="project-box">
                <div class="project-info">
                    <a href="https://certsecure.om-mishra.com">
                        <h4>CertSecure</h4>
                        <p>Developed an online blockchain-based certificate generation and validation
                            system recognized by the Gujarat Government. This project secured victory in
                            the SIH '23 Hackathon. Utilized HTML, CSS, JavaScript, MongoDB, Python,
                            Flask, and Blockchain technologies.
                        </p>
                    </a>
                </div>
            </div>
            <div class="project-box">
                <div class="project-info">
                    <a href="https://github.com/Bharat-Yadav-11/Snake-Game">
                        <h4>Snake Game</h4>
                        <p>The Snake Game is a classic arcade game where the player controls a snake that moves around the
                            screen and tries to eat apples to grow. The objective of the game is to collect as many apples
                            as possible without colliding with the walls or the snake's own body. The game features simple
                            graphics and keyboard controls for the snake's movement.
                        </p>
                    </a>
                </div>
            </div>
            <div class="project-box">
                <div class="project-info">
                    <a href="https://designathon-brown.vercel.app/">
                        <h4>Designathon '24</h4>
                        <p>Built a dynamic and responsive website for Designathon '24 using Express, Node.js, and EJS. The
                            site features event schedules, team details, and Devfolio registration integration, offering
                            seamless navigation and an interactive experience for attendees.
                        </p>
                    </a>
                </div>
            </div>
            <div class="project-box">
                <div class="project-info">
                    <a href="https://github.com/Bharat-Yadav-11/number-guessing-game">
                        <h4>Number Guessing Game</h4>
                        <p>This is a simple command-line game where you have to guess a randomly generated number between 1
                            and 100. The game has three difficulty levels: Easy, Medium, and Hard, each with a different
                            number of attempts to guess the correct number.
                        </p>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="skills" id="skills">
        <h2 class="heading">Skills</h2>
        <div class="container">
            <div class="row" id="skillsContainer">
                <div class="bar">
                    <div class="info">
                        <img src="/images/mongodb.png" alt="" width="60px" height="60px">
                        <span>Mongodb</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/express-js.png" alt="" width="60px" height="60px">
                        <span>Express</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/react.png" alt="" width="60px" height="60px">
                        <span>React</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/node.png" alt="" width="60px" height="60px">
                        <span>Node</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/js.png" alt="" width="60px" height="60px">
                        <span>JavaScript</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/html.png" alt="" width="60px" height="60px">
                        <span>HTML</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/css.png" alt="" width="60px" height="60px">
                        <span>CSS</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/python.png" alt="" width="60px" height="60px">
                        <span>Python</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/java.png" alt="" width="60px" height="60px">
                        <span>Java</span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <img src="/images/mysql.png" alt="" width="60px" height="60px">
                        <span>MySQL</span>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="education" id="education">
        <h2 class="heading">My <span>Education</span></h2>
        <div class="timeline">
            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Computer Science Engineering</h2>
                    </div>
                    <div class="decs">
                        <p>K.R. Mangalam University (2022-26)</p>
                    </div>
                </div>
            </div>
            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>High School</h2>
                    </div>
                    <div class="decs">
                        <p>C.D. International School (2022)</p>
                    </div>
                </div>
            </div>
            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Certificates</h2>
                    </div>
                    <div class="decs">
                        <ul>
                            <li>NPTEL Certification in Data Structures and Algorithms using Java (Silver Badge, 80%)</li>
                            <li>SIH '23 Winner - Blockchain-based certificate generation system</li>
                            <li>1st Place Winner - Tech Odyssey Event, K.R. Mangalam University</li>
                            <li>2nd Place - Code Cracker Contest, CSI Club, K.R. Mangalam University</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>SIH '23 Winner</h2>
                    </div>
                    <div class="decs">
                        <p>Developed a blockchain-based certificate generation and validation system, recognized by the Gujarat Government. Secured victory in the SIH '23 Hackathon.</p>
                        <ul>
                            <li><strong>Role: </strong>Frontend design using HTML, CSS, JavaScript</li>
                            <li>Contributed to Blockchain integration, ensuring data immutability.</li>
                            <li>Improved transparency, preventing certificate fraud. Future integrations could scale the platform for wider use.</li>
                            <li><strong>Tech Stack:</strong> HTML, CSS, JavaScript, MongoDB, Python, Flask, Blockchain.</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <div class="contact" id="contact">
        <h2 class="heading">Contact <span>Me</span></h2>
        <form id="contactForm" action="/contact" method="POST">
            <div class="input-box">
                <input type="text" id="name" placeholder="Name" required>
                <input type="email" id="email" placeholder="Email" required>
                <input type="number" id="number" placeholder="Phone Number" required>
                <input type="text" id="subject" placeholder="Subject" required>
            </div>
            <textarea id="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
            <button type="submit" class="btn">Send Message</button>
        </form>
    </div>

    <footer class="footer">
        <div class="social">
            <a href="https://www.linkedin.com/in/bharat-bhushan-yadav-709250293/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Bharat-Yadav-11/"><i class="fa-brands fa-github"></i></a>
            <a href="https://x.com/BharatYadav9910/"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/bharatyadav9917/"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <ul class="list">
            <li><a href="#">Home</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#home">About</a></li>
            <li><a href="#contact">Contact Me</a></li>
        </ul>
        <p class="copyright">
            &copy; www.bharat-bhushan.co | All Rights Reserved
        </p>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>